/* .cards {
}

*/
.cards:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -ms-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
} 

.cards {
    position: relative;
    overflow: hidden;
}

.cards:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 100%;
    background: #ececec;
    transition: 0.25s ease bottom;
}

.cards:hover::before {
    bottom: 0%;
}